<h2>Box Plot</h2>
    <script src="https://d3js.org/d3.v4.min.js"></script>
<!-- A scatter plot will magically appear here -->

<div id="plot"></div>

<script>
$(document).on('ready page:load', function(event) {
  // apply non-idempotent transformations to the body
  makeBoxPlot();
});
</script>