<div class='footer'>
  <%= link_to 'Pie Chart ', index_path%>|<%= link_to ' Bar Chart', bar_chart_path%>|
  <%= link_to ' Scatter Plot ', scatter_plot_path %>|<%= link_to ' Box Plot ', box_plot_path%>
</div> 